$main-color: #ff6060;


.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    margin: 30px;
    
    img {
      height: 50px;
    }
  
    nav a {
      margin-right: 20px;
      text-decoration: none;
      color: black;
      font-weight: 500;
      cursor: pointer;
      padding-left: 20px;
      
      &:last-child {
        margin-right: 0;
      }

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .footer {
    margin-top: auto; 
    display: flex;
    flex-direction: column;
    background-color: black;
    align-items: center;
    justify-content: center;
    padding-top: 35px;
    

    img {
      height: 30px;
      color: white;
      justify-content: center;
    }
  
    p {
      color: white;
    }
  }

  .banner-container {
    margin-left: 45px;
    margin-right: 50px;
    
  }

  .banner {
    height: 130px; 
    background-image: url('./imagebanner.webp'); 
    background-position: center; 
    background-size: cover; 
    border-radius: 8px;
    position: relative;
    overflow: hidden;
  
    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgba(0, 0, 0, 0.6); 
    }

    .banner-text {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: white;
      z-index: 1; 
      font-size: 30px;
      font-weight: 500;
    }
  }

  .card-grid {
    display: flex;
    flex-wrap: wrap;
    margin-left: 45px;
    margin-right: 50px;
    margin-top: 50px;
    justify-content: space-around;
  }

  .card {
    position: relative; 
    border-radius: 16px;
    width: 200px;
    height: 200px;
    overflow: hidden; 
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transition: transform 0.3s ease;
    margin: 10px;
  
    &:hover {
      transform: translateY(-5px);
    }
  }
  
  .card-title {
    position: absolute;
    bottom: 0; 
    left: 0; 
    color: white;
    font-size: 15px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin: 10px;
  }
  
  .card-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; 
  }  

  .card-info {

  }

  .card-rating {

  }

  .card-tags {

  }

  .card-tag {

  }

  .bannerabout-container {
    margin-left: 45px;
    margin-right: 50px;
    
  }

  .bannerabout {
    height: 130px; 
    background-image: url('./BannerAbout.webp'); 
    background-position: center; 
    background-size: cover; 
    border-radius: 8px;
    position: relative;
    overflow: hidden;
  
    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgba(0, 0, 0, 0.3); 
    }
  }

  .collapse-container {
    display: flex;
    flex-direction: column;
    align-items: center; // 
    background-color: #ff6060;
    color: white;
    font-weight: 500;
    margin: 30px auto; 
    border-radius: 5px;
    width: 80%;
  }
  
  .collapse-header {
    cursor: pointer;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 8px; 
    width: 100%;
    padding-left: 25px;
  }
  
  .arrow {
    color: white;
    transition: transform 0.3s ease;
    padding-right: 20px;
    &.open {
      transform: rotate(-180deg); 
    }
  }
  
  .collapse-content {
    color: black;
    weight: 100;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
    width: 100%; 
    background-color: white;
    &.open {
      max-height: 500px; 
    }
  }
  
.error {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.h1error {
display:flex;
justify-content: center;
font-size: 200px;
margin-top: 40px;
margin-bottom: 30px;
color:#ff6060;
font-family:sans-serif;
}

.perror{
color:#ff6060;
margin-bottom: 80px;
font-size: 20px;
}

.retouraccueil {
  font-size: 12px;
  color: black;
}

.retouraccueil:hover {
  cursor: pointer;
  text-decoration: underline;
}