$main-color: #ff6060;

body {
max-width: 1440px;
margin: 0 auto;
 }

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    margin-top: 30px;
    margin-left: 80px;
    margin-bottom: 30px;
    
    img {
      height: 60px;
    }
  
    nav a {
      margin-right: 20px;
      text-decoration: none;
      color: black;
      font-weight: 500;
      cursor: pointer;
      padding-left: 20px;
      font-size: 25px;
      
      &:last-child {
        margin-right: 80px;
      }

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .footer {
    margin-top: auto; 
    display: flex;
    flex-direction: column;
    background-color: black;
    align-items: center;
    justify-content: center;
    padding-top: 35px;
    max-width: 1440px;

    .footer.footer{
      margin-top: 100px;
    }
    
    img {
      height: 30px;
      color: white;
      justify-content: center;
    }
  
    p {
      color: white;
    }
  }

  .banner-container {
    margin-left: 45px;
    margin-right: 50px;
  }

  .banner {
    height: 130px; 
    background-image: url('./imagebanner.webp'); 
    background-position: center; 
    background-size: cover; 
    border-radius: 8px;
    position: relative;
    overflow: hidden;
  
    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgba(0, 0, 0, 0.6); 
    }

    .banner-text {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: white;
      z-index: 1; 
      font-size: 30px;
      font-weight: 500;
    }
  }

  .card-grid {
    display: flex;
    flex-wrap: wrap;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 50px;
    justify-content:center;
    gap:10px;
    background-color: rgb(247, 247, 247);
    border-radius: 20px;
    padding-top: 20px;
    padding-bottom: 40px;
  }

  .card {
    position: relative; 
    border-radius: 16px;
    width: 400px;
    height: 400px;
    overflow: hidden; 
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transition: transform 0.3s ease;
    margin: 10px;
  
    &:hover {
      transform: translateY(-5px);
    }
  }
  
  .card-title {
    position: absolute;
    bottom: 0; 
    left: 0; 
    color: white;
    font-size: 21px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin: 10px;
  }
  
  .card-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; 
  }  

  .bannerabout-container {
    margin-left: 45px;
    margin-right: 50px;
    
  }

  .bannerabout {
    height: 130px; 
    background-image: url('./BannerAbout.webp'); 
    background-position: center; 
    background-size: cover; 
    border-radius: 8px;
    position: relative;
    overflow: hidden;
  
    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgba(0, 0, 0, 0.3); 
    }
  }

  .host-rating-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  
    .host-name-and-image {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
    }
  
    .host-name {
      flex-grow: 1;
      text-align: right;
      margin-right: 15px; 
      color:#ff6060;
      font-size: 18px;
  
      .host-first-name,
      .host-last-name {
        margin: 0;
      }
    }
  
    .host-image-container {
      .host-image {
        width: 60px;
        height: 60px;
        border-radius: 50%
      }
    }
  
    .rating {
      width: 100%;
      justify-content: center;
      display: flex;
      margin-top: 10px; 
      color:#ff6060;
      gap:10px;
    }

    .star {
      color: rgb(197, 197, 197);
    
      &.filled {
        color: #FF6060; 
      }
    }
    

  }
  

  .collapse-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #ff6060;
    color: white;
    font-weight: 500;
    margin: 30px auto; 
    border-radius: 5px;
    width: 80%;
  }
  
  .collapse-header {
    cursor: pointer;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 8px; 
    width: 100%;
    padding-left: 25px;
  }
  
  .arrow {
    color: white;
    transition: transform 0.3s ease;
    padding-right: 20px;
    &.open {
      transform: rotate(-180deg); 
    }
  }
  
  .collapse-content {
    color: black;
    weight: 100;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
    width: 100%; 
    background-color: white;
    &.open {
      max-height: 200px; 
    }
  }
  
.error {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.h1error {
display:flex;
justify-content: center;
font-size: 200px;
margin-top: 40px;
margin-bottom: 30px;
color:#ff6060;
font-family:sans-serif;
}

.perror{
color:#ff6060;
margin-bottom: 80px;
font-size: 20px;
}

.retouraccueil {
  font-size: 12px;
  color: black;
}

.retouraccueil:hover {
  cursor: pointer;
  text-decoration: underline;
}

.image-gallery {
  position: relative;
  text-align: center;
  max-width: 1240px; 
  height: 415px; 
  margin: 0 auto; 
  overflow: hidden; 
  display: flex; 
  justify-content: center; 
  align-items: center; 
  margin-top: 50px;
  border-radius: 20px;
}

.image-counter {
  position: absolute;
  bottom: 10px; 
  left: 50%;  
  color: #ffffff; 
  padding: 5px 10px; 
  border-radius: 20px; 
  z-index: 10; 
  font-size: 20px;
}

.image-gallery img {
  width: 100%; 
  height: 500px; 
  object-fit: cover; 
  object-position: center; 
}

.image-gallery button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  cursor: pointer;
  padding: 10px;
  z-index: 100;
  background-color: transparent;
  font-size: 80px;
}

.image-gallery button:hover {
  color: rgba(0, 0, 0, 0.4);
}

.image-gallery button:first-of-type {
  left: 10px;
}

.image-gallery button:last-of-type {
  right: 10px;
}

.left h1 {
  color: #ff6060;
  font-weight: 400;
  margin-bottom: 0;
}

.location {
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 30px;
}

.tags-container {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;

}

.tag {
  background-color: #ff6060;
  color: white;
  padding: 5px 10px;
  border-radius: 10px;
  font-size: 15px;
}

.description-equipements {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.description-btn, .equipements-btn {
  background-color: #ff6060;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
}


.accordion-container {
  display:flex;
  justify-content: space-between;
}

.accordion {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px auto;
  max-width: 1240px;
  gap: 50px;
}

.accordion-item {
  width: 70%;
  margin-left: 30px;
  margin-right: 30px;
&:not(:last-child) {
  margin-right: 10px;
}
}

.collapse-content.open p {
  border: none;
}

.text-background {
  background-color: #f6f7f6;
  border-radius: 5px; 
  font-weight: 500;
}

.text-background p {
  margin-top: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}

.text-background ul {
  margin-top: 0;
  padding-top: 10px;
  padding-bottom: 10px;
}

.leftandright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px auto;
  max-width: 1240px;
}

@media (max-width: 768px) {

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0px;
    margin-top: 30px;
    margin-left: 8px;
    margin-bottom: 0;
    
    img {
      height: 50px;
    }
    nav a {
      font-size: 18px;
      padding-left:0px;
      padding-right: 4px;
  
    &:last-child {
      margin-right: 10px;
    }}}
  

.card-grid {
  background-color: white;
  width:100%;
  margin-left:5px;
  margin-rigt:5px;
  margin-top: 10px;
}

.card-image {
width: 100%;
}

.card {
  max-width: 300px;
  max-height: 300px;
}

.banner-text {
  display: flex;
  position: absolute;
  width: 90%;
  justify-content: center;
}

.banner {
  height: 100px;
  width: 295px;
  margin-top: 20px;
}

.image-gallery {

  max-width: 335px; 
  height: 255px; 
}

.image-counter {
  font-size: 15px;
  left:45%;
}

.image-gallery button {
  font-size: 30px;
}

.leftandright {
  flex-direction: column;
  align-items: flex-start;
  margin-top: 0;
  margin-bottom: 0;
}

.host-rating-container {
  flex-direction: row-reverse;
  align-items: center;
  text-align: center;
  width:95%;
  margin-right: 5px;
}

.host-name-and-image {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.rating {
  display: flex;
  justify-content: left;
  width: 100%;
}

.accordion {
  flex-direction: column;
}

.accordion-item {
  width: 100%;
  margin: 0;
}

.accordion-title {
  width: 100%;
  justify-content: space-between;
  text-align: left;
  padding: 10px;
}

.accordion-content {
  width: 100%;
  padding: 0 10px;
}

.text-background {
  width: 100%;
}

.left h1 {
  font-size: 25px;
  margin-left: 20px;
  margin-top:10px;
  margin-bottom:5px;
}

.location {
  margin-left: 20px;
  margin-bottom: 10px;

.p {
  margin-bottom: 5px;
}}

.tags-container {
  margin-left: 20px;
  
  .tag{
    font-size: 11px;
  }
}

.accordion-container {
  flex-direction: column;
  margin-left: 20px;
  margin-right: 20px;
}


}